// tslint:disable:max-classes-per-file max-file-line-count ban-comma-operator quotemark

{{#imports}}
/// <reference path="{{&.}}" />
{{/imports}}

{{#definitions}}
export type {{&name}} = {{#tsType}}{{> type}}{{/tsType}};

{{/definitions}}